<li class="nav-dropdown-container support-vue">
  <a class="nav-link">Frameworks</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li>
      <ul>
        <li><a href="<%- url_for("/v1/feathers-vuex/") %>" class="nav-link<%- page.repo === 'feathers-vuex' ? ' current' : '' %>">feathers-vuex</a></li>
        <li><a href="<%- url_for("/v1/redux/") %>" class="nav-link<%- page.repo === 'redux' ? ' current' : '' %>">redux</a></li>
      </ul>
    </li>
  </ul>
</li>
