<li class="nav-dropdown-container support-vue">
  <a class="nav-link">Frameworks</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li>
      <ul>
        <li><a href="https://vuex.feathersjs.com" target="_blank" class="nav-link<%- page.repo === 'feathers-vuex' ? ' current' : '' %>">feathers-vuex</a></li>
      </ul>
    </li>
  </ul>
</li>
