<li class="nav-dropdown-container ecosystem">
  <a class="nav-link">Adapters</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li>
      <ul>
        <li><a href="<%- url_for("/v1/graphql/") %>" class="nav-link<%- page.repo === 'graphql' ? ' current' : '' %>">graphql</a></li>
      </ul>
    </li>
  </ul>
</li>
