<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<%- partial('partials/extensions_dropdown', { dropdown: 'extensions' }) %>
<%- partial('partials/adapters_dropdown', { dropdown: 'adapters' }) %>
<%- partial('partials/frameworks_dropdown', { dropdown: 'frameworks' }) %>
