<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<%- partial('partials/dropdown_extensions', { dropdown: 'extensions' }) %>
<%- partial('partials/dropdown_adapters', { dropdown: 'adapters' }) %>
<%- partial('partials/dropdown_frameworks', { dropdown: 'frameworks' }) %>
